body {
	--color00: #000;
	--color01: #fff;
	--color02: #bde;
	--color03: #333333;
	--color03a: #33333366;
	--color04: #00fbaf;
	--color05: #0f73a8;
	--color06: #f07e0d;
	--color07: #eee;
	--color08: #aaa;
}
